{% extends "base_menu.html" %}
{% load crispy_forms_tags %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<br><br>

  <div
    class="col-lg-6 col-sm-6 justify-content-center align-items-center d-flex flex-column border border-success ml-auto mr-auto mb-5 p-5 align-middle">
    {% include 'messages.html' %}
    <form method="post" action="">
      {% csrf_token %}
      <!--Mejorar esto-->

      <h2 class="text-center">Sign up </h2>
      <!--solo mostrar los mensajes si hay errores en el formulario https://stackoverflow.com/questions/39571245/django-forms-error-message-display-all-the-time-not-only-after-errors-->

      {{form|crispy}}

      <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Register" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>

{% endblock %}